.cartContainer {

}

.cartHeaderDiv {
    height: 100%;
    width: 100%;
}

.cartListsDiv {
    height: 100%;
    width: 100%;
}

.cartListItemDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-total {
    align-items: center;
    float: right;
}

.cart-total > button {
    float: right;
}
