
.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    background-size: cover;
    font-family: sans-serif;
    padding: 30px;
}

.productListItems {
    display: flex;
    flex-wrap: wrap;
}
