.productContainer {
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    flex: 0 0 25%;
}

.productFigure {
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.productHeader {
    height: 76px;
}

.productDescriptionDiv {
    display: flex;
    justify-content: space-between;
}

.productBrandText{

}

.addToCart {
    padding: 10px;
    background-color: blue;
    color: #ffffff;
    border-radius: 10px;
}